<form action="delete_profile" method="POST">
  <div class="container">
    <h1>Are you Sure to delete this account {{username}}</h1>
    <br />
    <h1>All data related to your account will be deleted as well</h1>
    <br />
    <h1>if yes, Enter password and hit delete</h1>
    <br />
    <br />
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required />
    <br />
    <br />
    <button type="submit">Delete account</button>
  </div>
  <br />
  <br />

  <div class="container" style="background-color: #f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
