<form action="login" method="post">
  <div class="imgcontainer">
    <img
      src="/templates/img_avatar2.png"
      alt="Avatar"
      class="avatar"
      width="200"
      height="200"
    />
  </div>

  <fieldset>
    <center> <legend><b>Login here:</b></legend> </center>
    <center><label for="uname"><b>Username</b></label></center>
    <center> <input type="text" placeholder="Enter Username" name="uname" required /></center>
    <br />
    <br />
    <center><label for="psw"><b>Password</b></label></center>
    <center> <input type="password" placeholder="Enter Password" name="psw" required /></center>
    <br />
    <br />
    <center> <button type="submit"><b>Login</b></button></center>

  </fieldset>
  </div>
  <br />
  <br />

<center><button type="button" class="cancelbtn">Cancel</button></center>
<center><span class="psw">Forgot <a href="#">password?</a></span></center>
<br />
<br />
<center> <a href="register">New user register here </a> </center>
  </div>
</form>