<form action="update_profile" method="POST">

  <h3>Current User information:</h3>
  <br />username:      {{user_info[0][1]}}
  <br />email:         {{user_info[0][2]}}
  <br />mobile_number: {{user_info[0][3]}}
  <br />password:      {{user_info[0][4]}}
  <br />introduction:  {{user_info[0][5]}}

  <fieldset>
    <center> <legend><b><h3>Enter New information:</h3></b></legend> </center>
    <br />
    <br />
    <center><label for="uname"><b>Username</b></label></center>
    <center><input type="text" placeholder="Enter Username" name="uname"  /></center>
    <br />
    <br />
    <center><label for="email"><b>Email</b></label></center>
    <center><input type="text" placeholder="Enter Email id" name="email"  /></center>
    <br />
    <br />
    <center><label for="mobile_number"><b>Mobile Number</b></label></center>
    <center><input
      type="text"
      placeholder="Enter Mobile Number"
      name="mobile_number"
      /></center>
    
    <br />
    <br />
    <center><label for="introduction"><b>Introduction</b></label></center>
    <center><input
      type="text"
      placeholder="about yourself"
      name="introduction"
      /> </center>
    
    <br />
    <br />
    <center><label for="psw"><b>Password</b></label></center>
    <center><input type="password" placeholder="Enter Password" name="psw"  /></center>
    <br />
    <br />

    </center><button type="submit">Login</button></center>
</fieldset>
  <br />
  <br />
</form>
