<form action="login" method="POST">
  <div class="imgcontainer">
    <img
      src="/templates/img_avatar2.png"
      alt="Avatar"
      class="avatar"
      width="200"
      height="200"
    />
  </div>

  <div class="container">
    <br />
    <br />
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required />
    <br />
    <br />
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required />
    <br />
    <br />
    <button type="submit">Login</button>
  </div>
  <br />
  <br />

  <div class="container" style="background-color: #f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
